#AbbyText h4,h3,h2{
    color: red;
    border: solid;
    padding: 15px;
}
#Diagram{
  width: 1080px;
  height: 340px;
}
#ABIApp{
    width: 600px;
  height: 340px;
  display: block;  
margin-left: auto;  
margin-right: auto;  
}
img[alt=picture] { 
  width: 900px; 
  height: 135px;
}
