#AbbyText h4,h3,h2{
    color: red;!important
    border: solid;
    padding: 15px;
}
input[type=checkbox] {
  transform: scale(1.5);
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
#dtext{
  border: 2px solid red;
  padding: 5px 0px 7.5px 15px;
}
.navbar-default .navbar-nav>li>a {
    color: #204070;
}

#Diagram{
  width: 95%;
  height: 95%;
}

img{
  border: 2px solid;
}

img#flag{
  border: 0px;
}

#ABIApp{
    width: 600px;
  height: 340px;
  display: block;  
margin-left: auto;  
margin-right: auto;  
}
#about{
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
}
img[alt=Exdasta1],img[alt=Exdasta2],img[alt=picture],img[alt=picture_fasta]
,img[alt=Ex1],img[alt=Ex2],img[alt=Ex3]{ 
  width: 90%; !important
  height: 90%; !important
}

@media screen and (min-width: 1201px) {
  p,li,ol ,ul,a,label,input,div,span,.input-group,.btn  {
    font-size: 1.5vw;
  }

  h1{
    font-size: 3vw;
  }
  h2{
    font-size: 2.75vw;
  }
  h3{
    font-size: 2.5vw;
  }
  h4,h5,.panel-title{
    font-size: 1.75vw;
  }
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -15px;
    font-size: 2vw;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    padding: 20px;
    font-size: 1.5vw;
}
}

div#treeplot {
    margin: auto;
}



